<!DOCTYPE html>
<form class="form-horizontal" name="newPlanForm" ng-submit="$ctrl.saveNewPlan()">
   <div class="panel-group ">
      <div class="panel col-sm-6">
		 
         <div class="form-group" ng-class="{ 'has-error' : newPlanForm.name.$invalid && newPlanForm.name.$touched }">
            <label class="control-label col-sm-4">Name :</label>
            <div class="col-sm-6">
               <input class="form-control" name="name" type="text" ng-model="$ctrl.plan.name" maxlength="30" placeholder="E.g Building Base Cost" required> 
               <p ng-show="newPlanForm.name.$invalid && newPlanForm.name.$touched" class="help-block">Please enter a valid name</p>
            </div>
         </div>
         
         <div class="form-group" ng-class="{ 'has-error' : newPlanForm.amount.$invalid && newPlanForm.amount.$touched }">
            <label class="control-label col-sm-4">Amount : </label>
            <div class="col-sm-6">
               <input class="form-control" name="amount" type="number" min="1" max="99999999" ng-model="$ctrl.plan.amount" 
               placeholder="E.g 1111" required>
               <p ng-show="newPlanForm.amount.$invalid && newPlanForm.amount.$touched" class="help-block">Enter valid amount</p>
            </div>
         </div>
         
         <div class="form-group" ng-class="{ 'has-error' : newPlanForm.category.$invalid && newPlanForm.category.$touched }">
            <label class="control-label col-sm-4">Category :</label>
            <div class="col-sm-6">
               <select class="form-control"
               	  name ="category" 
                  ng-model="$ctrl.plan.category"  
                  ng-options="category.key as category.value for category in $ctrl.categories" 
                  required>
                <option value="" selected data-default>Select one...</option>
               </select>
               <p ng-show="newPlanForm.category.$invalid && newPlanForm.category.$touched" class="help-block">Please make a choice</p>
            </div>
         </div>
         <div class="form-group" ng-class="{ 'has-error' : newPlanForm.buildingArea.$invalid && newPlanForm.buildingArea.$touched }">
            <label class="control-label col-sm-4">Building Area :</label>
            <div class="col-sm-6">
               <select class="form-control" 
                  name="buildingArea"
                  ng-model="$ctrl.plan.buildingArea"  
                  ng-options="buildingArea.key as buildingArea.value for buildingArea in $ctrl.buildingAreas" 
                  required>
               <option value="" selected data-default>Select one...</option>
               </select>
               <p ng-show="newPlanForm.buildingArea.$invalid && newPlanForm.buildingArea.$touched" class="help-block">Please make a choice</p>
            </div>
         </div>
         
           <div class="form-group">
            <label class="control-label col-sm-4">Remarks :</label>
            <div class="col-sm-6">
               <textarea class="form-control" name="remark" rows="5" maxlength="200" ng-model="$ctrl.plan.remarks" placeholder="Any remarks?"></textarea>
               <p ng-show="newPlanForm.remark.$invalid && newPlanForm.remark.$touched" class="help-block">*Invalid</p>
            </div>
         </div>
         <div class="form-group">
            <div class="col-sm-10">
               <input type="submit" value="Save"  class="btn btn-primary" />
            </div>
         </div>
        
      </div>
   </div>
</form>