 <table class="table  table-hover table-bordered table-striped">
  <thead>
      <tr>
       	<th>Date</th>
       	<th>Amount</th>
        <th>Type</th>
        <th>Category</th>
        
      <!-- <th>Remarks</th>
      	<th>Building Area</th>
        <th>Receiver</th>
        <th>Authorized By</th>
        <th>Fund</th>
        <th>Status</th>
        <th>Bank</th>        
        <th>Cheque Date</th>
        <th>Cheque #</th>
        <th>Cheque to</th>
        <th>Deducted On</th> -->
      </tr>
       </thead>
      
      	<tr data-toggle="collapse"  ng-repeat="transaction in $ctrl.transactions" >
		    <td> <a ng-href="#!/transactions/{{transaction.transactionId}}"> {{transaction.transactionDate}} </a>  </td>
		    <td> {{transaction.amount}} </td>
		    <td> {{transaction.transactionType}} </td>
		    <td> {{transaction.category}} </td>
		    
		  <!--   <td> {{transaction.remarks}} </td>
		  <td> <p>{{transaction.buildingArea}}</p> </td>
		    <td> <p>{{transaction.receiver}}</p> </td>
		    <td> <p>{{transaction.authorizedBy.name}}</p> </td>
		    <td> <p>{{transaction.fund.fundId}}</p> </td>
		    <td> <p>{{transaction.status}}</p> </td>
		    <td> <p>{{transaction.bank}}</p> </td>
		    <td> <p>{{transaction.chequeDate}}</p> </td>
		    <td> <p>{{transaction.chequeNumber}}</p> </td>
		    <td> <p>{{transaction.chequeTo}}</p> </td>
		    <td> <p>{{transaction.deductedOn}}</p> </td> -->
		  </tr>
   </table>

<button type="button" ng-click="$ctrl.createNewTransaction()" class="btn btn-primary">New</button>
		